:root {
  --logo-color: #000000;
  --main-lite-color: #ffffff;
  --main-textcolor: #757575;
  --sec-textcolor: #212121;
  --accent-color: #2196f3;
  --iconteam-color: #afb1b8;
  --back1-color: #2f303a;
  --back2-color: #f5f4fa;
  --back3-color: #2f303a;
  --bord-port-color: #eeeeee;
  --siteheadbord-color: #ececec;
  --basecont-color: rgba(255, 255, 255, 0.6);
  --footsoc-color: rgba(255, 255, 255, 0.1);
  --bgrd-color: rgba(47, 48, 58, 0.4);
  --teamshad-color: rgba(0, 0, 0, 0.25);
  --second-font: Raleway, sans-serif;
  --cubic-effect: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

body {
  background-color: var(--main-lite-color);
  color: var(--main-textcolor);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.sitehead-logo.link {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--logo-color);
  -webkit-transition: color 250ms var(--cubic-effect);
  transition: color 250ms var(--cubic-effect);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.web {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--sec-textcolor);
  -webkit-transition: color 250ms var(--cubic-effect);
  transition: color 250ms var(--cubic-effect);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.site-nav .snav-link:not(:last-child) {
  margin-right: 50px;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-nav .cnav-link:not(:last-child) {
  margin-right: 50px;
}

.contact-nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-textcolor);
  -webkit-transition: color 250ms var(--cubic-effect);
  transition: color 250ms var(--cubic-effect);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.contact-nav .link + .link {
  margin-left: 50px;
}

.cnav-icon {
  margin-right: 10px;
  fill: var(--main-textcolor);
  -webkit-transition: fill 250ms var(--cubic-effect);
  transition: fill 250ms var(--cubic-effect);
}

.snav-link {
  position: relative;
  -webkit-transition: color 250ms var(--cubic-effect);
  transition: color 250ms var(--cubic-effect);
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link:hover .cnav-icon,
.link:focus .cnav-icon {
  fill: var(--accent-color);
}

.examples-buttlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.examples-buttlist .exam-butt:not(:last-child) {
  margin-right: 8px;
}

.examples-button {
  display: inline-block;
  border-radius: 4px;
  padding: 5.89px 22px;
  border: none;
  background-color: var(--back2-color);
  color: var(--sec-textcolor);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  -webkit-transition: background-color 250ms var(--cubic-effect), color 250ms var(--cubic-effect), -webkit-box-shadow 250ms var(--cubic-effect);
  transition: background-color 250ms var(--cubic-effect), color 250ms var(--cubic-effect), -webkit-box-shadow 250ms var(--cubic-effect);
  transition: background-color 250ms var(--cubic-effect), color 250ms var(--cubic-effect), box-shadow 250ms var(--cubic-effect);
  transition: background-color 250ms var(--cubic-effect), color 250ms var(--cubic-effect), box-shadow 250ms var(--cubic-effect), -webkit-box-shadow 250ms var(--cubic-effect);
}

.examples-button:hover, .examples-button:focus {
  background-color: var(--accent-color);
  color: var(--main-lite-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  font-size: 16px;
  line-height: 1.875;
}

.examples-list .title {
  margin-bottom: 4px;
  color: var(--sec-textcolor);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-card {
  min-width: 370px;
  margin: 14px;
  border: 1px solid var(--bord-port-color);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic-effect);
  transition: -webkit-box-shadow 250ms var(--cubic-effect);
  transition: box-shadow 250ms var(--cubic-effect);
  transition: box-shadow 250ms var(--cubic-effect), -webkit-box-shadow 250ms var(--cubic-effect);
  /*&:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }*/
}

.examples-card:hover .overlay,
.examples-card:focus .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-transition: -webkit-transform 250ms var(--cubic-effect);
  transition: -webkit-transform 250ms var(--cubic-effect);
  transition: transform 250ms var(--cubic-effect);
  transition: transform 250ms var(--cubic-effect), -webkit-transform 250ms var(--cubic-effect);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-lite-color);
  outline: 2px solid teal;
}

.overlay-eximg {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.port-textblock {
  padding: 20px 24px;
}

.examples-text {
  color: var(--main-textcolor);
}

.examples-link {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic-effect);
  transition: -webkit-box-shadow 250ms var(--cubic-effect);
  transition: box-shadow 250ms var(--cubic-effect);
  transition: box-shadow 250ms var(--cubic-effect), -webkit-box-shadow 250ms var(--cubic-effect);
}

.examples-link:hover, .examples-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.basement-logo {
  display: inline-box;
  width: 145px;
  height: 31px;
  margin-bottom: 20px;
  color: var(--main-lite-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.basement-contacts {
  margin-right: 70px;
}

address {
  font-style: normal;
}

.basement-address {
  display: inline-block;
  min-width: 231px;
  margin-bottom: 9px;
  color: var(--main-lite-color);
  line-height: 1.71;
}

.basement-contactmail {
  display: inline-block;
  min-width: 231px;
  margin-bottom: 9px;
  color: var(--basecont-color);
  -webkit-transition: color 250ms var(--cubic-effect);
  transition: color 250ms var(--cubic-effect);
  line-height: 1.71;
}

.basement-contactmail:hover, .basement-contactmail:focus {
  color: var(--main-lite-color);
}

.basement-contacttel {
  display: inline-block;
  min-width: 231px;
  color: var(--basecont-color);
  -webkit-transition: color 250ms var(--cubic-effect);
  transition: color 250ms var(--cubic-effect);
  line-height: 1.71;
}

.basement-contacttel:hover, .basement-contacttel:focus {
  color: var(--main-lite-color);
}

.basesocial {
  margin-right: 93px;
}

.basesocial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
}

.basesocial-list-item {
  width: 44px;
  height: 44px;
}

.basesocial-list-icon {
  fill: var(--main-lite-color);
}

.basesocial-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--footsoc-color);
  -webkit-transition: background-color 250ms var(--cubic-effect);
  transition: background-color 250ms var(--cubic-effect);
  border-radius: 50%;
}

.basesocial-list-link:hover, .basesocial-list-link:focus {
  background-color: var(--accent-color);
}

.connect-form {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  width: 219px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-lite-color);
}

.futer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.futer-form-input {
  min-width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--back1-color);
  color: var(--main-lite-color);
  padding-left: 16px;
  outline: none;
  cursor: pointer;
}

/*.futer-form-input::placeholder {
  color: var(--basecont-color);
  font-size: 16px;
  line-height: 1.25;
}*/
.futer-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-lite-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 12px;
}

.futer-icon {
  margin-left: 10px;
}

.sitehead {
  border-bottom: 1px solid var(--siteheadbord-color);
}

.headnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logsitcont-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back3-color);
}

.base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect {
  margin-bottom: 20px;
  margin-top: 12px;
  width: 145px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-lite-color);
}
/*# sourceMappingURL=portfolio.css.map */