.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back3-color);
}
.base {
  display: flex;
}
.connect {
  margin-bottom: 20px;
  margin-top: 12px;
  width: 145px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--main-lite-color);
}
