.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back3-color);
}
.base {
  display: flex;
}
.basement-contacts {
  margin-right: 70px;
}
.basement-logo {
  display: inline-box;
  width: 145px;
  height: 31px;
  margin-bottom: 20px;
  color: var(--main-lite-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
address {
  font-style: normal;
}
.basement-address {
  display: inline-block;
  min-width: 231px;
  margin-bottom: 9px;
  color: var(--main-lite-color);

  line-height: 1.71;
}
.basement-contactmail {
  display: inline-block;
  min-width: 231px;
  margin-bottom: 9px;
  color: var(--basecont-color);
  transition: color 250ms var(--cubic-effect);

  line-height: 1.71;
}
.basement-contacttel {
  display: inline-block;
  min-width: 231px;
  color: var(--basecont-color);
  transition: color 250ms var(--cubic-effect);

  line-height: 1.71;
}
.basement-contactmail:hover,
.basement-contacttel:hover,
.basement-contactmail:focus,
.basement-contacttel:focus {
color: var(--main-lite-color);
}
.connect {
  margin-bottom: 20px;
  margin-top: 12px;
  width: 145px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--main-lite-color);
}
.basesocial {
  margin-right: 93px;
}
.basesocial-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}
.basesocial-list-item {
  width: 44px;
  height: 44px;
}
.basesocial-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--footsoc-color);
  transition: background-color 250ms var(--cubic-effect);
  border-radius: 50%;
}
.basesocial-list-icon {
  fill: var(--main-lite-color);
}
.basesocial-list-link:hover,
.basesocial-list-link:focus {
  background-color: var(--accent-color);
}
.connect-form {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  width: 219px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-lite-color);
}
.futer-form {
  display: flex;
}
.futer-form-input {
  min-width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--back1-color);
  color: var(--main-lite-color);
  padding-left: 16px;
  outline: none;
  cursor: pointer;
}

/*.futer-form-input::placeholder {
  color: var(--basecont-color);
  font-size: 16px;
  line-height: 1.25;
}*/
.futer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid  var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-lite-color);
  background-color: var(--accent-color);
  cursor: pointer;
  align-self: center;
  margin-left: 12px;
}
.futer-icon {
  margin-left: 10px;
}