.sitehead {
  border-bottom: 1px solid var(--siteheadbord-color);
}
.headnav {
  display: flex;
  align-items: center;
}
.logsitcont-nav {
  display: flex;
  align-items: center;
}
.sitehead-logo.link {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--logo-color);
  transition: color 250ms var(--cubic-effect);

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.web {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.site-nav {
  display: flex;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--sec-textcolor);
  transition: color 250ms var(--cubic-effect);

  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.site-nav .snav-link:not(:last-child) {
  margin-right: 50px;
}
.contact-nav {
  display: flex;
  margin-left: auto;
}
.cnav-icon {
  margin-right: 10px;
  fill: var(--main-textcolor);
  transition: fill 250ms var(--cubic-effect);
}
.contact-nav .cnav-link:not(:last-child) {
  margin-right: 50px;
}
.contact-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-textcolor);
  transition: color 250ms var(--cubic-effect);

  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.contact-nav .link + .link {
  margin-left: 50px;
}
.snav-link {
  position: relative;
  transition: color 250ms var(--cubic-effect);
}
.site-nav .current {
color: var(--accent-color);
}
.site-nav .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color)
}
.link:hover .cnav-icon,
.link:focus .cnav-icon {
  fill: var(--accent-color);
}