.solution {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, var(--bgrd-color), var(--bgrd-color)),
    url(../image/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--back1-color);
  text-align: center;
}
