.basesocial {
  margin-right: 93px;

  &-list {
    display: flex;
    justify-content: space-between;
    width: 206px;

    &-item {
      width: 44px;
      height: 44px;
    }

    &-icon {
      fill: var(--main-lite-color);
    }
  }
}

.basesocial-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--footsoc-color);
  transition: background-color 250ms var(--cubic-effect);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
