.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}
.examples-buttlist {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.examples-button {
  display: inline-block;
  border-radius: 4px;
  padding: 5.89px 22px;
  border: none;
  background-color: var(--back2-color);
  color: var(--sec-textcolor);
  box-shadow: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  transition: background-color 250ms var(--cubic-effect), color 250ms var(--cubic-effect), box-shadow 250ms var(--cubic-effect);
}

.examples-buttlist .exam-butt:not(:last-child) {
  margin-right: 8px;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.examples-card {
  min-width: 370px;
  margin: 14px;
  border: 1px solid var(--bord-port-color);
  box-shadow: none;
  transition: box-shadow 250ms var(--cubic-effect);
}
.examples-link {
  display: block;
}
.examples-card:hover,
.examples-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay-eximg {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.overlay {
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: transform 250ms var(--cubic-effect);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-lite-color);
  outline: 2px solid teal;
}
.examples-card:hover .overlay,
.examples-card:focus .overlay {
  transform: translateY(0%);
  opacity: 1;
}


.port-textblock {
  padding: 20px 24px;
}
.examples-text {
  color: var(--main-textcolor);
}
.examples-button:hover,
.examples-button:focus {
  background-color: var(--accent-color);
  color: var(--main-lite-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-list {
  font-size: 16px;
  line-height: 1.875;
}
.examples-list .title {
  margin-bottom: 4px;
  color: var(--sec-textcolor);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}