.advantages-list {
  display: flex;
  font-weight: normal;
  line-height: 1.71;

  & .title {
    margin-bottom: 10px;
    color: var(--sec-textcolor);

    font-weight: 700;
    line-height: 1.143;
    text-transform: uppercase;
  }
}
.card {
  min-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
  &::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--back2-color);
  }
}
.icon {
  &-antena::before {
    background-image: url(../image/antenna.svg);
  }
  &-clock::before {
    background-image: url(../image/clock.svg);
  }
  &-diagram::before {
    background-image: url(../image/diagram.svg);
  }
  &-astro::before {
    background-image: url(../image/astronaut.svg);
  }
}
